{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="page-width py-5 lg:py-10">
  <div class="flex flex-col items-center lg:flex-row gap-8 lg:gap-[100px] justify-between">
    <div class="lg:flex-1">
      <h2 class="text-black font-bold text-2xl lg:text-[32px] mb-4 lg:mb-8">Contact Us</h2>
      
      <p class="text-black font-medium text-sm lg:text-base max-w-[500px]">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>

      <ul class="flex flex-col lg:flex-row gap-2 lg:gap-0 mt-6 justify-between w-full lg:mt-20">
        <li>
          <p class="text-black font-medium text-sm lg:text-base">10AM - 6PM, Monday to Friday</p>
        </li>
        <li>
          <p class="text-black font-medium text-sm lg:text-base">Eastern Time Zone.</p>
        </li>
        <li>
          <p class="text-black font-medium text-sm lg:text-base">+1 800 950 5035</p>
        </li>
      </ul>

      <div class="order-1 lg:order-[inherit] mt-7">
        <ul class="flex gap-4">
          <li>
            <a href="#"> 

            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M23 45C35.1503 45 45 35.1503 45 23C45 10.8497 35.1503 1 23 1C10.8497 1 1 10.8497 1 23C1 35.1503 10.8497 45 23 45Z" stroke="#CFCFCF" stroke-width="1.5"/>
              <path d="M17.9588 18.5586C18.9888 18.5586 19.8238 17.7236 19.8238 16.6936C19.8238 15.6636 18.9888 14.8286 17.9588 14.8286C16.9288 14.8286 16.0938 15.6636 16.0938 16.6936C16.0938 17.7236 16.9288 18.5586 17.9588 18.5586Z" fill="black"/>
              <path d="M19.513 19.8043H16.4046C16.233 19.8043 16.0938 19.9436 16.0938 20.1152V29.4403C16.0938 29.6119 16.233 29.7512 16.4046 29.7512H19.513C19.6846 29.7512 19.8238 29.6119 19.8238 29.4403V20.1152C19.8238 19.9436 19.6846 19.8043 19.513 19.8043Z" fill="black"/>
              <path d="M28.7773 19.2872C27.4487 18.8322 25.787 19.2319 24.7904 19.9487C24.7562 19.815 24.6344 19.7156 24.4895 19.7156H21.3812C21.2096 19.7156 21.0703 19.8548 21.0703 20.0264V29.3516C21.0703 29.5231 21.2096 29.6624 21.3812 29.6624H24.4895C24.6611 29.6624 24.8004 29.5231 24.8004 29.3516V22.6499C25.3027 22.2172 25.9499 22.0792 26.4795 22.3042C26.993 22.5212 27.2871 23.0509 27.2871 23.7565V29.3516C27.2871 29.5231 27.4263 29.6624 27.5979 29.6624H30.7063C30.8779 29.6624 31.0172 29.5231 31.0172 29.3516V23.1304C30.9817 20.576 29.78 19.6304 28.7773 19.2872Z" fill="black"/>
              </svg>
              
            </a>
          </li>
          <li>
            <a href="#"> 

            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M23 45C35.1503 45 45 35.1503 45 23C45 10.8497 35.1503 1 23 1C10.8497 1 1 10.8497 1 23C1 35.1503 10.8497 45 23 45Z" stroke="#CFCFCF" stroke-width="1.5"/>
              <path d="M24.9888 17.3687H27.0108C27.1968 17.3687 27.3478 17.2264 27.3478 17.0511V15.1458C27.3478 14.9705 27.1968 14.8283 27.0108 14.8283H24.9888C22.9453 14.8283 21.2819 16.3951 21.2819 18.3213V20.5442H18.9229C18.7369 20.5442 18.5859 20.6865 18.5859 20.8617V22.7671C18.5859 22.9423 18.7369 23.0846 18.9229 23.0846H21.2819V29.7532C21.2819 29.9285 21.4329 30.0707 21.6189 30.0707H23.6408C23.8269 30.0707 23.9778 29.9285 23.9778 29.7532V23.0846H26.3368C26.4817 23.0846 26.6104 22.997 26.6569 22.8674L27.3309 20.9621C27.3653 20.8656 27.3478 20.7589 27.2844 20.6757C27.2204 20.5931 27.1193 20.5442 27.0108 20.5442H23.9778V18.3213C23.9778 17.7961 24.4314 17.3687 24.9888 17.3687Z" fill="black"/>
              </svg>
                                     
            </a>
          </li>
          <li>
            <a href="#"> 

            <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M23 45C35.1503 45 45 35.1503 45 23C45 10.8497 35.1503 1 23 1C10.8497 1 1 10.8497 1 23C1 35.1503 10.8497 45 23 45Z" stroke="#CFCFCF" stroke-width="1.5"/>
              <path d="M30.175 18.9327C30.0729 18.8174 29.9084 18.7883 29.7733 18.8595C29.6894 18.9037 29.5315 18.9618 29.3441 19.0191C29.5806 18.6958 29.7707 18.3337 29.8546 18.0083C29.8909 17.868 29.8378 17.7202 29.7223 17.6366C29.6067 17.5536 29.4529 17.5536 29.3374 17.6366C29.1553 17.7671 28.2767 18.1596 27.7212 18.2867C26.4657 17.1557 25.0046 17.0382 23.4858 17.9502C22.2512 18.6916 21.9825 20.1992 22.0349 21.1182C19.2088 20.8383 17.4522 19.3031 16.4634 18.0325C16.3942 17.9433 16.2827 17.8963 16.1779 17.9033C16.0678 17.9115 15.9684 17.9744 15.9119 18.0718C15.4444 18.8837 15.3147 19.7812 15.5384 20.6677C15.6607 21.1513 15.8743 21.5777 16.1222 21.9231C16.0033 21.863 15.8884 21.7877 15.7803 21.6979C15.6808 21.6136 15.5418 21.5977 15.4242 21.6537C15.3074 21.711 15.2328 21.8326 15.2328 21.966C15.2328 23.4881 16.1585 24.5038 17.023 25.0344C16.8833 25.0171 16.7375 24.9853 16.5904 24.9391C16.4641 24.8997 16.3271 24.9391 16.2397 25.0413C16.1524 25.1429 16.1316 25.288 16.186 25.4117C16.6717 26.5165 17.592 27.2765 18.7306 27.5522C17.7364 28.1526 16.4057 28.4469 15.1871 28.3025C15.0293 28.2797 14.8788 28.3827 14.8291 28.5388C14.7794 28.695 14.8445 28.8663 14.9836 28.9465C16.8322 30.014 18.5035 30.3954 19.9478 30.3954C22.0496 30.3954 23.6719 29.5884 24.6594 28.9133C27.3215 27.0962 28.9807 23.8336 28.7496 20.9144C29.1762 20.5903 29.8143 19.992 30.21 19.3487C30.2919 19.2188 30.2771 19.0474 30.175 18.9327Z" fill="black"/>
              </svg>
                         
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="px-6 py-6 lg:px-11 lg:py-9 bg-white rounded-[20px] w-full lg:w-auto">
      <div class="color-{{ section.settings.color_scheme }} gradient">
        <div class="contact px-0 page-width page-width--narrow section-{{ section.id }}-padding">
          <h2 class="text-black font-bold text-2xl lg:text-[32px]">Get in Touch</h2>
          <p class="text-black font-medium text-sm lg:text-base">You can reach us anytime</p>

          {%- liquid
            assign contact_form_class = 'isolate'
            if settings.animations_reveal_on_scroll
              assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
            endif
          -%}
          {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
            {%- if form.posted_successfully? -%}
              <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                {% render 'icon-success' %}
                {{ 'templates.contact.form.post_success' | t }}
              </h2>
            {%- elsif form.errors -%}
              <div class="form__message">
                <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                  {% render 'icon-error' %}
                  {{ 'templates.contact.form.error_heading' | t }}
                </h2>
              </div>
              <ul class="form-status-list caption-large" role="list">
                <li>
                  <a href="#ContactForm-email" class="link">
                    {{ form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email }}
                  </a>
                </li>
              </ul>
            {%- endif -%}
            <div class="contact__fields !flex flex-col lg:min-w-[500px] w-full">
              <div class="field">
                <input
                  class="field__input"
                  autocomplete="name"
                  type="text"
                  id="ContactForm-name"
                  name="contact[{{ 'templates.contact.form.name' | t }}]"
                  value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                  placeholder="{{ 'templates.contact.form.name' | t }}"
                >
                <label class="field__label" for="ContactForm-name">Full Name *</label>
              </div>
              <div class="field field--with-error">
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="field__input"
                  name="contact[email]"
                  spellcheck="false"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="{{ 'templates.contact.form.email' | t }}"
                >
                <label class="field__label" for="ContactForm-email">
                  Email
                  <span aria-hidden="true">*</span></label
                >
                {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </span>
                  </small>
                {%- endif -%}
              </div>
            </div>
            <div class="field">
              <textarea
                rows="10"
                id="ContactForm-body"
                class="text-area field__input"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                placeholder="{{ 'templates.contact.form.comment' | t }}"
              >
                {{- form.body -}}
              </textarea>
              <label class="form__label field__label top-[25%]" for="ContactForm-body">
                How we can help?
              </label>
            </div>
            <div class="contact__button bg-black rounded-[12px] text-center !mt-6">
              <button type="submit" class="button mx-auto !bg-transparent text-base text-white font-bold">
                Submit
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "საკონტაქტო ფორმა",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}