<style>
  .hero-embla {
    width: 100%;
  }
  .hero-embla .embla__slide {
    flex: 0 0 100%;
    position: relative;
    min-height: 450px;
    display: flex;
    align-items: end;
  }
  .hero-embla img {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    .hero-embla .embla__slide {
      min-height: 400px;
    }
    .hero-embla img {
      height: 100%;
      object-position: right;
    }
    .hero-embla .embla__slide_bg::before {
      background: linear-gradient(0deg, rgba(17, 40, 103, 0.10) 0%, rgba(17, 40, 103, 0.10) 100%), linear-gradient(180deg, rgba(17, 40, 103, 0.00) 0.26%, rgba(17, 40, 103, 0.50) 50%, #183682 90%);
    }
  }
</style>

<section class="sandbox__carousel">
  <div class="embla hero-embla relative">
    <div class="embla__viewport">
      <div class="embla__container">
        {% assign slides = section.blocks | where: 'type', 'slide' %}
        {% assign slides_html = section.blocks | where: 'type', 'slide_html' %}

        {% for slide in slides %}
          <div class="embla__slide embla__slide_bg">
            <img class="embla__slide__img" src="{{ slide.settings.background_image | img_url: "master" }}">
            <div class="relative z-[2] max-w-[100%] pl-[1.6rem] pb-[7rem] lg:max-w-[50%] lg:pl-[11.5rem] lg:pb-[8rem] 3xl:pl-[32rem] hero-thing">
              {% if slide.settings.sale_text != blank %}
                <strong class="mb-4 inline-block rounded-full bg-[#DC2020] py-1 px-2 font-['Gibson'] text-xs font-medium text-white lg:mb-10 lg:py-1 lg:px-4 lg:text-[30px]">
                  {{- slide.settings.sale_text | default: "Nectar Flash Sale" -}}
                </strong>
              {% endif %}
              <p class="font-heading text-[32px] font-medium text-white lg:text-[36px] lg:font-semibold">
                {{ slide.settings.title }}
              </p>
              <p class="font-heading font-medium my-7 text-white text-base lg:font-semibold">
                {{ slide.settings.paragraph }}
              </p>
              <div class="mt-4 lg:mt-8">
                <a class="inline-flex items-center gap-3 rounded-full bg-white py-4 px-8" href="{{ slide.settings.button_url }}">
                  <span class="text-base font-medium text-[#051122] md:font-bold">
                    {{- slide.settings.button_text -}}
                  </span>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="embla__dots absolute bottom-6 left-1/2 -translate-x-1/2"></div>
    <script type="text/template" class="embla-dot-template">
      <button class="embla__dot bg-[#E9EBED]" type="button"></button>
    </script>
  </div>
</section>

<script defer>
  window.addEventListener('DOMContentLoaded', ()=>{
    const emblaNode = document.querySelector(".hero-embla.embla");
    const viewportNode = emblaNode.querySelector('.embla__viewport')
    const dotsNode = emblaNode.querySelector(".embla__dots");

    const embla = EmblaCarousel(viewportNode, {
    loop: false,
    skipSnaps: false
    },[EmblaCarouselAutoplay( { delay: 5000 } )]);

    const dotsArray = generateDotBtns(dotsNode, embla, emblaNode);
    const setSelectedDotBtn = selectDotBtn(dotsArray, embla);

    setupDotBtns(dotsArray, embla);

    embla.on("select", setSelectedDotBtn);
    embla.on("init", setSelectedDotBtn);
  })
</script>

{% schema %}
  {
    "name": "Custom Hero Slider",
    "class": "custom-hero-slider",
    "tag": "section",
    "blocks": [
      {
        "type": "slide",
        "name": "Slider Blocks",
        "settings": [
          {
            "type": "html",
            "id": "title",
            "label": "Title",
            "default": "Pick up where you left off"
          },
          {
            "type": "html",
            "id": "paragraph",
            "label": "Paragraph",
            "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an"
          },
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Shop mattress"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Hero Slider",
        "category": "Custom Sections"
      }
    ]
  }
{% endschema %}