<style>
  .custom-reviews-slider{
    background-color: #eeeeee;
  }

  .reviews-slider-embla .embla__slide{
    flex: 0 0 calc(40% - 20px); /* Slide covers 30% of the viewport */
    margin-right: 20px;
    min-width: 0;
  }

  @media screen and (max-width: 768px) {
    .custom-reviews-slider{
      margin: 20px 0;
    }
    .reviews-slider-embla .embla__slide{
      flex: 0 0 calc(90% - 20px); /* Slide covers 30% of the viewport */
      min-width: 0;
    }
  }

  @media screen and (min-width: 768px) {
    .custom-reviews-slider{
      margin: 20px 0;
    }
    .reviews-slider-embla{
      position: relative;
    }
    .reviews-slider-embla::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      background: linear-gradient(89.43deg, rgba(238, 238, 238, 0) 3.349%,rgb(238, 238, 238) 97.514%);
      width: 80px;
    }
  }

  .custom-product-card{
    background-color: #fff;
    padding: 24px 20px;
    border-radius: 12px;
  }

  .embla__button__svg{
    width: 8px;
    height: 14px;
    fill: white !important;
  }

  .embla__button{
    width: 36px;
    height: 36px;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<div class="overflow-hidden px-0 mt-4 py-5 pb-10 pr-0 lg:py-10 md:py-20 lg:mt-0 page-width lg:px-[5rem]">
  <div class="grid grid-cols-1 lg:grid-cols-[0.4fr,1fr]">
    <div class="flex flex-col justify-between items-center lg:items-start">
      <h2 class="text-2xl lg:text-4xl text-black text-center lg:text-start mb-6 lg:mb-12 font-bold lg:max-w-[300px] {% if template == "index" %} capitalize{% endif %}">
      {% if template == "index" %} Our Customer Reviews {% else %} {{ product.title }} customer reviews {% endif %}</h2>
      <div class="items-center justify-center gap-x-10 mt-5 hidden lg:!flex">
        <div class="flex items-center gap-3">
          <!-- Buttons -->
          <button
            class="embla__button embla__button--prev embla__prev"
            type="button"
          >
            <svg
              class="embla__button__svg"
              viewBox="137.718 -1.001 366.563 643.999"
            >
              <path
                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
              ></path>
            </svg>
          </button>
          <button
            class="embla__button embla__button--next embla__next"
            type="button"
          >
            <svg
              class="embla__button__svg rotate-180"
              viewBox="137.718 -1.001 366.563 643.999"
            >
              <path
                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="reviews-slider-embla embla">
      <div class="embla__container">
        {% for block in section.blocks %}
          <div class="embla__slide justify-between relative flex flex-col md:w-full p-5 pt-6 bg-white rounded-[12px] {% unless forloop.last %} mr-4 lg:mr-0 {% else %} pr-4 md:pr-0 {% endunless %} {% if forloop.first %} ml-[15px] lg:ml-0 {%  endif %}">
            <div>
              <div class="flex items-center gap-[18px]">
                <div class="relative">
                  <img loading="lazy"
                    class="w-full w-full object-contain max-w-[75px]"
                    src="{{ block.settings.customer_picture | img_url: 'master' }}"
                  >
                </div>
                <div class="flex flex-col gap-1">
                  <p class="text-base font-bold">{{ block.settings.name }}</p>
                  <div>
                    <svg width="128" height="20" viewBox="0 0 128 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 1.66666C5.40834 1.66666 1.66667 5.40832 1.66667 9.99999C1.66667 14.5917 5.40834 18.3333 10 18.3333C14.5917 18.3333 18.3333 14.5917 18.3333 9.99999C18.3333 5.40832 14.5917 1.66666 10 1.66666ZM13.9833 8.08332L9.25834 12.8083C9.14167 12.925 8.98334 12.9917 8.81667 12.9917C8.65001 12.9917 8.49167 12.925 8.37501 12.8083L6.01667 10.45C5.77501 10.2083 5.77501 9.80832 6.01667 9.56666C6.25834 9.32499 6.65834 9.32499 6.90001 9.56666L8.81667 11.4833L13.1 7.19999C13.3417 6.95832 13.7417 6.95832 13.9833 7.19999C14.225 7.44166 14.225 7.83332 13.9833 8.08332Z" fill="#32B16D"/>
                    <path d="M30.432 15L27.12 6.228H28.752L30.672 11.28C30.864 11.808 31.032 12.324 31.224 13.032C31.44 12.264 31.62 11.724 31.788 11.28L33.684 6.228H35.28L32.016 15H30.432ZM37.8025 15.156C36.0385 15.156 34.8025 13.872 34.8025 12.036C34.8025 10.176 36.0145 8.892 37.7545 8.892C39.5305 8.892 40.6585 10.08 40.6585 11.928V12.372L36.1945 12.384C36.3025 13.428 36.8545 13.956 37.8265 13.956C38.6305 13.956 39.1585 13.644 39.3265 13.08H40.6825C40.4305 14.376 39.3505 15.156 37.8025 15.156ZM37.7665 10.092C36.9025 10.092 36.3745 10.56 36.2305 11.448H39.2065C39.2065 10.632 38.6425 10.092 37.7665 10.092ZM45.5502 9.048V10.404H45.0102C43.9542 10.404 43.2942 10.968 43.2942 12.12V15H41.8302V9.084H43.2102L43.2942 9.948C43.5462 9.36 44.1102 8.964 44.9022 8.964C45.1062 8.964 45.3102 8.988 45.5502 9.048ZM47.2732 7.884C46.7692 7.884 46.3732 7.488 46.3732 6.996C46.3732 6.504 46.7692 6.12 47.2732 6.12C47.7532 6.12 48.1492 6.504 48.1492 6.996C48.1492 7.488 47.7532 7.884 47.2732 7.884ZM46.5412 15V9.072H48.0052V15H46.5412ZM53.6577 15V10.296H51.2337V15H49.7817V10.296H48.9297V9.072H49.7817V8.352C49.7817 6.744 50.6217 6.072 51.8217 6.072C52.0497 6.072 52.3257 6.084 52.5777 6.132V7.38H52.0617C51.4017 7.38 51.2337 7.764 51.2337 8.352V9.072H55.1217V15H53.6577ZM54.3897 7.86C53.8977 7.86 53.5137 7.476 53.5137 6.984C53.5137 6.504 53.8977 6.12 54.3897 6.12C54.8697 6.12 55.2537 6.504 55.2537 6.984C55.2537 7.476 54.8697 7.86 54.3897 7.86ZM59.283 15.156C57.519 15.156 56.283 13.872 56.283 12.036C56.283 10.176 57.495 8.892 59.235 8.892C61.011 8.892 62.139 10.08 62.139 11.928V12.372L57.675 12.384C57.783 13.428 58.335 13.956 59.307 13.956C60.111 13.956 60.639 13.644 60.807 13.08H62.163C61.911 14.376 60.831 15.156 59.283 15.156ZM59.247 10.092C58.383 10.092 57.855 10.56 57.711 11.448H60.687C60.687 10.632 60.123 10.092 59.247 10.092ZM65.7467 15.156C64.0307 15.156 62.9627 13.896 62.9627 12.06C62.9627 10.212 64.0427 8.892 65.8307 8.892C66.6587 8.892 67.3907 9.24 67.7627 9.828V6.072H69.2147V15H67.8707L67.7747 14.076C67.4147 14.76 66.6467 15.156 65.7467 15.156ZM66.0707 13.812C67.0907 13.812 67.7507 13.08 67.7507 12.012C67.7507 10.944 67.0907 10.2 66.0707 10.2C65.0507 10.2 64.4267 10.956 64.4267 12.012C64.4267 13.068 65.0507 13.812 66.0707 13.812ZM77.8988 15.144C75.3428 15.144 73.6868 13.368 73.6868 10.62C73.6868 7.896 75.4028 6.084 77.9708 6.084C80.0468 6.084 81.5948 7.296 81.8948 9.18H80.2747C79.9748 8.16 79.0988 7.56 77.9348 7.56C76.3148 7.56 75.2948 8.736 75.2948 10.608C75.2948 12.468 76.3268 13.668 77.9348 13.668C79.1228 13.668 80.0348 13.044 80.3228 12.072H81.9188C81.5828 13.92 79.9748 15.144 77.8988 15.144ZM87.1002 9.072H88.5642V15H87.2082L87.1002 14.208C86.7402 14.772 85.9722 15.156 85.1802 15.156C83.8122 15.156 83.0082 14.232 83.0082 12.78V9.072H84.4722V12.264C84.4722 13.392 84.9162 13.848 85.7322 13.848C86.6562 13.848 87.1002 13.308 87.1002 12.18V9.072ZM89.5031 13.2H90.8951C90.9071 13.716 91.2911 14.04 91.9631 14.04C92.6471 14.04 93.0191 13.764 93.0191 13.332C93.0191 13.032 92.8631 12.816 92.3351 12.696L91.2671 12.444C90.1991 12.204 89.6831 11.7 89.6831 10.752C89.6831 9.588 90.6671 8.892 92.0351 8.892C93.3671 8.892 94.2671 9.66 94.2791 10.812H92.8871C92.8751 10.308 92.5391 9.984 91.9751 9.984C91.3991 9.984 91.0631 10.248 91.0631 10.692C91.0631 11.028 91.3271 11.244 91.8311 11.364L92.8991 11.616C93.8951 11.844 94.3991 12.3 94.3991 13.212C94.3991 14.412 93.3791 15.156 91.9151 15.156C90.4391 15.156 89.5031 14.364 89.5031 13.2ZM97.5298 15H96.0658V10.296H94.9258V9.072H96.0658V7.224H97.5298V9.072H98.6818V10.296H97.5298V15ZM99.1853 12.024C99.1853 10.176 100.517 8.904 102.353 8.904C104.189 8.904 105.521 10.176 105.521 12.024C105.521 13.872 104.189 15.144 102.353 15.144C100.517 15.144 99.1853 13.872 99.1853 12.024ZM100.649 12.024C100.649 13.104 101.345 13.836 102.353 13.836C103.361 13.836 104.057 13.104 104.057 12.024C104.057 10.944 103.361 10.212 102.353 10.212C101.345 10.212 100.649 10.944 100.649 12.024ZM108.146 15H106.682V9.072H108.026L108.146 9.768C108.446 9.276 109.046 8.892 109.898 8.892C110.798 8.892 111.422 9.336 111.734 10.02C112.034 9.336 112.73 8.892 113.63 8.892C115.07 8.892 115.862 9.756 115.862 11.124V15H114.41V11.508C114.41 10.656 113.954 10.212 113.258 10.212C112.55 10.212 112.01 10.668 112.01 11.64V15H110.546V11.496C110.546 10.668 110.102 10.224 109.406 10.224C108.71 10.224 108.146 10.68 108.146 11.64V15ZM119.951 15.156C118.187 15.156 116.951 13.872 116.951 12.036C116.951 10.176 118.163 8.892 119.903 8.892C121.679 8.892 122.807 10.08 122.807 11.928V12.372L118.343 12.384C118.451 13.428 119.003 13.956 119.975 13.956C120.779 13.956 121.307 13.644 121.475 13.08H122.831C122.579 14.376 121.499 15.156 119.951 15.156ZM119.915 10.092C119.051 10.092 118.523 10.56 118.379 11.448H121.355C121.355 10.632 120.791 10.092 119.915 10.092ZM127.699 9.048V10.404H127.159C126.103 10.404 125.443 10.968 125.443 12.12V15H123.979V9.084H125.359L125.443 9.948C125.695 9.36 126.259 8.964 127.051 8.964C127.255 8.964 127.459 8.988 127.699 9.048Z" fill="black"/>
                    </svg>
                  </div>
                </div>
              </div>
              <p class="my-1 text-sm font-medium mb-8 mt-6">
                {{ block.settings.review }}
              </p>
            </div>
            <div class="flex items-center gap-3">
              <svg width="107" height="19" viewBox="0 0 107 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.95205 1.33836C9.07179 0.969837 9.59316 0.969838 9.7129 1.33836L11.3379 6.33973C11.3915 6.50454 11.5451 6.61612 11.7184 6.61612H16.9771C17.3646 6.61612 17.5257 7.11197 17.2122 7.33973L12.9578 10.4307C12.8176 10.5326 12.7589 10.7131 12.8125 10.878L14.4375 15.8793C14.5573 16.2478 14.1355 16.5543 13.822 16.3265L9.56759 13.2355C9.42739 13.1337 9.23755 13.1337 9.09736 13.2355L4.84294 16.3265C4.52946 16.5543 4.10767 16.2478 4.22741 15.8793L5.85245 10.878C5.906 10.7131 5.84733 10.5326 5.70714 10.4307L1.45272 7.33973C1.13924 7.11197 1.30035 6.61612 1.68784 6.61612H6.94659C7.11988 6.61612 7.27346 6.50454 7.32701 6.33973L8.95205 1.33836Z" fill="#32B26D"/>
                <path d="M30.9108 1.33836C31.0306 0.969837 31.5519 0.969838 31.6717 1.33836L33.2967 6.33973C33.3503 6.50454 33.5038 6.61612 33.6771 6.61612H38.9359C39.3234 6.61612 39.4845 7.11197 39.171 7.33973L34.9166 10.4307C34.7764 10.5326 34.7177 10.7131 34.7713 10.878L36.3963 15.8793C36.5161 16.2478 36.0943 16.5543 35.7808 16.3265L31.5264 13.2355C31.3862 13.1337 31.1963 13.1337 31.0561 13.2355L26.8017 16.3265C26.4882 16.5543 26.0664 16.2478 26.1862 15.8793L27.8112 10.878C27.8648 10.7131 27.8061 10.5326 27.6659 10.4307L23.4115 7.33973C23.098 7.11197 23.2591 6.61612 23.6466 6.61612H28.9054C29.0786 6.61612 29.2322 6.50454 29.2858 6.33973L30.9108 1.33836Z" fill="#32B26D"/>
                <path d="M52.8696 1.33836C52.9893 0.969837 53.5107 0.969838 53.6304 1.33836L55.2555 6.33973C55.309 6.50454 55.4626 6.61612 55.6359 6.61612H60.8946C61.2821 6.61612 61.4432 7.11197 61.1298 7.33973L56.8753 10.4307C56.7351 10.5326 56.6765 10.7131 56.73 10.878L58.3551 15.8793C58.4748 16.2478 58.053 16.5543 57.7395 16.3265L53.4851 13.2355C53.3449 13.1337 53.1551 13.1337 53.0149 13.2355L48.7605 16.3265C48.447 16.5543 48.0252 16.2478 48.1449 15.8793L49.77 10.878C49.8235 10.7131 49.7649 10.5326 49.6247 10.4307L45.3702 7.33973C45.0568 7.11197 45.2179 6.61612 45.6054 6.61612H50.8641C51.0374 6.61612 51.191 6.50454 51.2445 6.33973L52.8696 1.33836Z" fill="#32B26D"/>
                <path d="M74.8283 1.33836C74.9481 0.969837 75.4694 0.969838 75.5892 1.33836L77.2142 6.33973C77.2678 6.50454 77.4214 6.61612 77.5946 6.61612H82.8534C83.2409 6.61612 83.402 7.11197 83.0885 7.33973L78.8341 10.4307C78.6939 10.5326 78.6352 10.7131 78.6888 10.878L80.3138 15.8793C80.4336 16.2478 80.0118 16.5543 79.6983 16.3265L75.4439 13.2355C75.3037 13.1337 75.1138 13.1337 74.9736 13.2355L70.7192 16.3265C70.4057 16.5543 69.9839 16.2478 70.1037 15.8793L71.7287 10.878C71.7823 10.7131 71.7236 10.5326 71.5834 10.4307L67.329 7.33973C67.0155 7.11197 67.1766 6.61612 67.5641 6.61612H72.8229C72.9962 6.61612 73.1497 6.50454 73.2033 6.33973L74.8283 1.33836Z" fill="#32B26D"/>
                <path d="M96.7871 1.33836C96.9068 0.969837 97.4282 0.969838 97.5479 1.33836L99.173 6.33973C99.2265 6.50454 99.3801 6.61612 99.5534 6.61612H104.812C105.2 6.61612 105.361 7.11197 105.047 7.33973L100.793 10.4307C100.653 10.5326 100.594 10.7131 100.648 10.878L102.273 15.8793C102.392 16.2478 101.971 16.5543 101.657 16.3265L97.4026 13.2355C97.2624 13.1337 97.0726 13.1337 96.9324 13.2355L92.678 16.3265C92.3645 16.5543 91.9427 16.2478 92.0625 15.8793L93.6875 10.878C93.7411 10.7131 93.6824 10.5326 93.5422 10.4307L89.2878 7.33973C88.9743 7.11197 89.1354 6.61612 89.5229 6.61612H94.7816C94.9549 6.61612 95.1085 6.50454 95.1621 6.33973L96.7871 1.33836Z" fill="#32B26D"/>
              </svg>     
              <span class="text-base font-bold">{{ block.settings.score }}</span>                           
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="items-center justify-center gap-x-10 mt-5 flex lg:hidden">
        <div class="flex items-center gap-3">
          <!-- Buttons -->
          <button
            class="embla__button embla__button--prev embla__prev embla__prev_mobile" 
            type="button"
          >
            <svg
              class="embla__button__svg"
              viewBox="137.718 -1.001 366.563 643.999"
            >
              <path
                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
              ></path>
            </svg>
          </button>
          <button
            class="embla__button embla__button--next embla__next embla__next_mobile"
            type="button"
          >
            <svg
              class="embla__button__svg rotate-180"
              viewBox="137.718 -1.001 366.563 643.999"
            >
              <path
                d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script defer>
  document.addEventListener('DOMContentLoaded', ()=>{
    const emblaNode = document.querySelector(".reviews-slider-embla.embla");

    const prevButtonNode = document.querySelector('.custom-reviews-slider .embla__prev');
    const nextButtonNode = document.querySelector('.custom-reviews-slider .embla__next');

    const prevButtonNodeM = document.querySelector('.custom-reviews-slider .embla__prev_mobile');
    const nextButtonNodeM = document.querySelector('.custom-reviews-slider .embla__next_mobile');

    const togglePrevNextBtnsState = () => {
      if (embla.canScrollPrev()){
        prevButtonNode.removeAttribute('disabled');
        prevButtonNodeM.removeAttribute('disabled');
      } else {
        prevButtonNode.setAttribute('disabled', 'disabled');
        prevButtonNodeM.setAttribute('disabled', 'disabled');
      }
  
      if (embla.canScrollNext()){
        nextButtonNode.removeAttribute('disabled');
        nextButtonNodeM.removeAttribute('disabled');
      } else {
        nextButtonNode.setAttribute('disabled', 'disabled');
        nextButtonNodeM.setAttribute('disabled', 'disabled');
      }
    }

    const embla = EmblaCarousel(emblaNode, {
      loop: false,
      align: "center",
      breakpoints: {
        '(min-width: 768px)': { align: "start" }
      }
    });

    embla.on('select', togglePrevNextBtnsState)
    .on('init', togglePrevNextBtnsState)
    .on('reInit', togglePrevNextBtnsState);

    prevButtonNode.addEventListener('click', embla.scrollPrev, false)
    nextButtonNode.addEventListener('click', embla.scrollNext, false)
    prevButtonNodeM.addEventListener('click', embla.scrollPrev, false)
    nextButtonNodeM.addEventListener('click', embla.scrollNext, false)
  })
</script>

{% schema %}
{
  "name": "Product Reviews Slider",
  "tag": "section",
  "class": "custom-reviews-slider",
  "settings": [
    {
      "type": "color",
      "id": "color_bg",
      "label": "Background color",
      "default": "#f2f2f2"
    }
  ],
  "blocks": [
    {
      "name": "Card",
      "type": "card",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Andrew. B"
        },
        {
          "type": "image_picker",
          "id": "customer_picture",
          "label": "Customer Picture"
        },
        {
          "type": "textarea",
          "id": "review",
          "label": "Review Text",
          "default": "Purchased two IPhone 13’s in “good” refurbished condition. They arrived as promised. Upon inspection there were no cosmetic marks or flaws and appeared brand new. We took them to the local cell provider."
        },
        {
          "type": "range",
          "id": "score",
          "label": "Review Score",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "default": 4.9
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Reviews Slider",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}