{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide no-js-hidden">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
            <noscript>
              <button type="submit" class="facets__button-no-js button button--secondary">
                {{ 'products.facets.sort_button' | t }}
              </button>
            </noscript>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {%
            render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        <div class="flex justify-center py-4 lg:pb-8">
          <svg width="259" height="44" viewBox="0 0 259 44" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_123_10649)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.7812 22.7195C17.7524 19.8076 20.1561 18.4103 20.2635 18.3411C18.9124 16.3648 16.8075 16.0932 16.0575 16.0626C14.2662 15.8818 12.5628 17.1178 11.6528 17.1178C10.7453 17.1178 9.34285 16.0898 7.85766 16.117C5.90553 16.1458 4.10578 17.2524 3.09943 19.0008C1.07129 22.5196 2.58067 27.7349 4.55745 30.5882C5.52309 31.9855 6.67467 33.5552 8.18703 33.4991C9.64293 33.4419 10.1939 32.556 11.955 32.556C13.7157 32.556 14.2102 33.4992 15.7514 33.469C17.3185 33.4402 18.3113 32.0445 19.2706 30.6425C20.3806 29.021 20.8356 27.4531 20.8632 27.3724C20.8284 27.3567 17.8075 26.1997 17.7769 22.7207L17.7812 22.7195H17.7812ZM14.8864 14.172C15.6886 13.1987 16.2307 11.8477 16.0825 10.4991C14.9267 10.5463 13.5251 11.2695 12.6953 12.2416C11.9504 13.1045 11.2996 14.4798 11.4737 15.8007C12.7645 15.9013 14.0824 15.1449 14.8851 14.1737L14.8864 14.172Z" fill="black"/>
            </g>
            <path d="M35.403 30H33.363L38.643 15.54H40.823L46.123 30H44.063L42.763 26.4H36.683L35.403 30ZM39.483 18.66L37.283 24.7H42.183L39.963 18.66C39.863 18.38 39.763 18.04 39.723 17.82C39.683 18.02 39.583 18.36 39.483 18.66ZM47.7252 34.38V20.22H49.4252L49.5652 21.98C50.2252 20.64 51.5452 19.94 53.1052 19.94C55.9052 19.94 57.6452 22.04 57.6452 25.04C57.6452 28.02 56.0052 30.26 53.1052 30.26C51.5452 30.26 50.2452 29.6 49.6052 28.4V34.38H47.7252ZM49.6252 25.12C49.6252 27.12 50.7852 28.56 52.7052 28.56C54.6252 28.56 55.7652 27.12 55.7652 25.12C55.7652 23.1 54.6252 21.66 52.7052 21.66C50.7852 21.66 49.6252 23.08 49.6252 25.12ZM59.7174 34.38V20.22H61.4174L61.5574 21.98C62.2174 20.64 63.5374 19.94 65.0974 19.94C67.8974 19.94 69.6374 22.04 69.6374 25.04C69.6374 28.02 67.9974 30.26 65.0974 30.26C63.5374 30.26 62.2374 29.6 61.5974 28.4V34.38H59.7174ZM61.6174 25.12C61.6174 27.12 62.7774 28.56 64.6974 28.56C66.6174 28.56 67.7574 27.12 67.7574 25.12C67.7574 23.1 66.6174 21.66 64.6974 21.66C62.7774 21.66 61.6174 23.08 61.6174 25.12ZM73.6296 30H71.7496V15.28H73.6296V30ZM80.6171 30.24C77.7371 30.24 75.7571 28.16 75.7571 25.12C75.7571 22.06 77.6971 19.94 80.5371 19.94C83.3171 19.94 85.1371 21.86 85.1371 24.76V25.46L77.5771 25.48C77.7171 27.54 78.7971 28.68 80.6571 28.68C82.1171 28.68 83.0771 28.08 83.3971 26.96H85.1571C84.6771 29.06 83.0371 30.24 80.6171 30.24ZM80.5371 21.52C78.8971 21.52 77.8571 22.5 77.6171 24.22H83.2571C83.2571 22.6 82.1971 21.52 80.5371 21.52Z" fill="black"/>
            <line x1="105.5" y1="36" x2="105.5" y2="8" stroke="#CFCFCF"/>
            <path d="M130.73 14.652C129.218 14.652 128.03 13.464 128.03 11.988C128.03 10.512 129.218 9.36 130.73 9.36C132.17 9.36 133.358 10.512 133.358 11.988C133.358 13.464 132.17 14.652 130.73 14.652ZM128.534 36V18.216H132.926V36H128.534ZM148.515 26.928H142.719V36H138.111V9.684H148.515C153.807 9.684 157.227 13.14 157.227 18.288C157.227 23.364 153.771 26.928 148.515 26.928ZM147.615 13.788H142.719V22.824H147.543C150.711 22.824 152.403 21.132 152.403 18.252C152.403 15.372 150.675 13.788 147.615 13.788ZM164.848 36H160.456V9.216H164.884V20.52C166 18.792 168.088 17.676 170.644 17.676C175.036 17.676 177.34 20.448 177.34 25.056V36H172.948V26.1C172.948 23.112 171.472 21.672 169.24 21.672C166.468 21.672 164.848 23.616 164.848 26.28V36ZM180.611 27.072C180.611 21.528 184.607 17.712 190.115 17.712C195.623 17.712 199.619 21.528 199.619 27.072C199.619 32.616 195.623 36.432 190.115 36.432C184.607 36.432 180.611 32.616 180.611 27.072ZM185.003 27.072C185.003 30.312 187.091 32.508 190.115 32.508C193.139 32.508 195.227 30.312 195.227 27.072C195.227 23.832 193.139 21.636 190.115 21.636C187.091 21.636 185.003 23.832 185.003 27.072ZM207.492 36H203.1V18.216H207.168L207.528 20.52C208.644 18.72 210.804 17.676 213.216 17.676C217.68 17.676 219.984 20.448 219.984 25.056V36H215.592V26.1C215.592 23.112 214.116 21.672 211.848 21.672C209.148 21.672 207.492 23.544 207.492 26.424V36ZM232.255 36.468C226.963 36.468 223.255 32.616 223.255 27.108C223.255 21.528 226.891 17.676 232.111 17.676C237.439 17.676 240.823 21.24 240.823 26.784V28.116L227.431 28.152C227.755 31.284 229.411 32.868 232.327 32.868C234.739 32.868 236.323 31.932 236.827 30.24H240.895C240.139 34.128 236.899 36.468 232.255 36.468ZM232.147 21.276C229.555 21.276 227.971 22.68 227.539 25.344H236.467C236.467 22.896 234.775 21.276 232.147 21.276ZM242.97 30.6H247.146C247.182 32.148 248.334 33.12 250.35 33.12C252.402 33.12 253.518 32.292 253.518 30.996C253.518 30.096 253.05 29.448 251.466 29.088L248.262 28.332C245.058 27.612 243.51 26.1 243.51 23.256C243.51 19.764 246.462 17.676 250.566 17.676C254.562 17.676 257.262 19.98 257.298 23.436H253.122C253.086 21.924 252.078 20.952 250.386 20.952C248.658 20.952 247.65 21.744 247.65 23.076C247.65 24.084 248.442 24.732 249.954 25.092L253.158 25.848C256.146 26.532 257.658 27.9 257.658 30.636C257.658 34.236 254.598 36.468 250.206 36.468C245.778 36.468 242.97 34.092 242.97 30.6Z" fill="black"/>
            <defs>
            <clipPath id="clip0_123_10649">
            <rect width="23" height="23" fill="white" transform="translate(0 10.5)"/>
            </clipPath>
            </defs>
          </svg>  
        </div>
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid_dawn product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down gap-9
                grid--{{ section.settings.columns_desktop }}-col-desktop
              "
            >
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'custom-card-product', product: product %}
                </li>
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section custom-collection-product-grid",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
